{% include header.htm %}
  <style type="text/css">
img {width:100%;display: inline-block;}
</style>
  
  <title>{{ page.title }}</title>
</head>
　　<body>
    <br><a href="{{site.baseurl}}">首页</a>&nbsp;&nbsp;》{{ page.title }}（<label id="page">1</label>）
　　{{ content }}
  <img id="img" referrerpolicy="no-referrer" src="{{ page.imgsrc }}">
<p><a href="#" onclick="prepage(-1)">上一页</a>&nbsp;&nbsp;》<a href="#" onclick="prepage(1)">下一页</a></p>
<script type="text/javascript">
  var index = 1;
  function prepage(step){
    next=index+step;
    if(next<=0){
      return;
    }
    if(next>{{ page.size }}){
      alert("最后一页了");
      return;
    }
    document.getElementById('img').src=document.getElementById('img').src.replace(index+'{{ page.pattern }}',next+'{{ page.pattern }}');
    index = next;
    document.getElementById('page').innerHTML=index;
  }
</script>
　　</body>
　　</html>
